/*****************
GENERAL
******************/

:root {
    font-size: 14px;
    --orange: #CC6601;
    --darkgrey: #4E4849;
    --lightgrey: #CDC1B9;
}

body {
	  font-family: 'Dosis', sans-serif;
    text-align: center;
}

h1 {
    margin: 0px;
    cursor: pointer;
    font-size: 4rem;
    color: var(--orange);
}

h2 {
    margin: 0px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--darkgrey);
}

h3 {
    font-size: 2rem;
    color: var(--orange);
    width: 50%;
    margin: 0 auto;
}

div {
    display: block;
}

table {
    margin: 5px auto;
    font-size: 40px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none;
}

.more_button {
    background: var(--orange);
    margin: 5px 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}

/*****************
MAIN TITLE
******************/

#img_title {
    padding: 0px;
    width: 100%;
}

#div_title {
    width: 30%;
    margin: 0 auto;
}

/*****************
THE BAND
******************/

section {
    width: 100%;
    margin: 1.5% 0;
}

.section_band {
    color: var(--orange);
}

.div_memberdiv {
    display: inline-block;
    width: 15%;
}

.img_memberpic {
    width: 60%;
    margin: 2% auto;
    cursor: pointer;
}

.div_memberinst {
    font-size: 20px;
    color: var(--darkgrey);
}

.backarrow {
    width: 40px;
    height: 40px;
    margin-bottom: 10%;
}

#view_extband {
	cursor: pointer;
}

#list_extband {
	display: none;
}

#bio_theband {
    display: none;
    width: 70%;
    margin: 0 auto;
}

#section_past_members img {
    cursor: auto;
}

/*****************
THE MUSIC
******************/

#title_sounds li {
	margin: 0px;
	padding: 0px;
}

#list_press {
    width: 70%;
    margin: 0 auto;
    color: var(--darkgrey);
}

.div_album {
    display: inline-block;
    width: 250px;
}

.div_album h3 {
    width: 100%;
}

.title_album {
    display: none;
}

.div_album img {
    width: 100%;
}

.press_quote {
    color: var(--darkgrey);
    font-size: 20px;
    margin: 10px 0;
}

.press_source {
    color: var(--orange);
    margin-bottom: 10px;
}

.press_source a {
    font-size: 16px;
}

.themusic_hidden {
	display: none;
}

.content_sights {
    display: none;
}


/*****************
THE SHOWS
******************/

.widget_iframe {
	display: none;
}

#iframe_theshows {
	width: 50%;
}

#div_theshows a {
    display: none;
    margin: 10px 0;
}

/*****************
THE MERCH
******************/

.titles_themerch {
	display: none;
}

/*****************
CONTACT US
******************/

#title_contactus {
	color: var(--darkgrey);
	margin: 0 auto;
  cursor:  default;
}

/*****************
FOOTER
******************/

#div_sociallinks {
	border: none;
	height: 20%;
	margin: 2px;
}

.img_sociallinks {
	height: 48px;
	width: 48px;
}

footer {
  margin: 25px 0;
	height: 20%;
}


/****************
MEDIA QUERIES
****************/

@media (max-width: 420px) {
    :root {
        font-size: 16px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #view_extband {
        display: none;
    }

    #div_title {
        width: 50%; 
    }

    .div_membername {
        display: inline-block;
    }

    .div_membername h3 {
        font-size: 1.2em;
        margin: 0;
    }

    .div_memberinst, .div_memberdates {
        display:none;
    }

    .img_memberpic {
        width: 100%;
        margin: 0;
    }
    #div_sociallinks img {
        
    }

    .youtube {
        width: 100%;
        height: 60%;
    }

    .name_albums {
        display:none;
    }

    #table_sounds {
        margin: 0;
    }

    #iframe_theshows {
        width: 80%;
    }

    #widget_theshows {
        height: 350px;
    }

    .div_album {
        width: 150px;
    }
}