/*****************
GENERAL
******************/


:root {
    font-size: 14px;
    --orange: #CC6601;
    --darkgrey: #4E4849;
    --lightgrey: #C3B9B0;
}

body {
	  font-family: 'Dosis', sans-serif;
}

h1 {
    margin: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 4rem;
    color: var(--orange);
}

h2 {
	margin: 0px;
	cursor: pointer;
	text-align: center;
  font-size: 3rem;
	color: var(--darkgrey);
}

h3 {
	font-size: 2rem;
	color: var(--orange);
	width: 50%;
	margin: 0 auto;
}

table {
	margin: 5px auto;
	font-size: 40px;
}

a {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	display: none;
}

/*****************
MAIN TITLE
******************/

#title_img {
    padding: 0px;
    width: 100%;
}

#div_title {
    width: 25%;
    display: block;
    margin: 0 auto;
}

/*****************
THE BAND
******************/

#title_theband {
    display: block;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: 1.5% 0;
    text-align: center;
}

.section_band {
    color: var(--orange);
}

.div_memberdiv {
    display: inline-block;
    width: 15%;
}

.img_memberpic {
    width: 60%;
    margin: 2% auto;
    cursor: pointer;
}

.div_memberinst {
    font-size: 20px;
    color: var(--darkgrey);
}

.backarrow {
    width: 40px;
    height: 40px;
    margin-bottom: 10%;
}

#view_extband {
	cursor: pointer;
}

#list_extband {
	display: none;
}

#bio_theband {
	width: 70%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#section_past_members img {
    cursor: auto;
}

/*****************
THE MUSIC
******************/

#div_themusic h3 {
	color: var(--darkgrey);
}

#title_sounds li {
	margin: 0px;
	padding: 0px;
}

#table_sounds img {
	height: 250px;
	width: 250px;
	margin: 20px;
}

#table_sounds td {
	text-align: center;
	color: #00DD88;
}


#list_press {
    width: 70%;
    margin: 0 auto;
    color: var(--darkgrey);
}

.press_quote {
    color: var(--darkgrey);
    font-size: 20px;
    margin: 10px 0;
}

.press_source {
    color: var(--orange);
    margin-bottom: 10px;
}

.press_source a {
    font-size: 16px;
}

.themusic_hidden {
	display: none;
}

.content_sights {
    display: none;
}


/*****************
THE SHOWS
******************/

#div_theshows {
    text-align: center;
}

.widget_iframe {
	text-align: center;
	display: none;
}

#iframe_theshows {
	width: 50%;
}

#div_theshows a {
    display: none;
    margin: 10px 0;
}

/*****************
THE MERCH
******************/

.titles_themerch {
	display: none;
}

/*****************
CONTACT US
******************/

#title_contactus {
	color: var(--darkgrey);
	margin: 0 auto;
  cursor:  default;
}

/*****************
FOOTER
******************/

#div_sociallinks {
	border: none;
	height: 20%;
	margin: 2px;
}

.img_sociallinks {
	height: 48px;
	width: 48px;
}

footer {
  margin: 25px 0;
	text-align: center;
	height: 20%;
}

